.dropdown {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 50%;
    height: 15%;
}

.dropdown__button {
    position: absolute;
    right: 0;
    border-radius: 30px;
    background-color: #232323;
    width: 13%;
    height: 25%;
    cursor: pointer;

}

.dropdown__button img {
    width: 70%;
    height: 68%;
    filter: invert(100%);
}


.dropdown__button:hover {
    background-color: #424242;
}
