
.action-list {
    position: absolute;
    z-index: 101;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #424242;
    border-radius: 10px;
}

.action-list__button {
    border-radius: 10px;
    width: 100%;
    height: 35%;
}

.action-list__close-button {
    padding-top: 1%;
    padding-right: 6%;
    text-align: end;
    width: 100%;
    height: 25%;
}