.content {
    width: 100vw;
    min-height: 60%;
    display: flex;
    flex-direction: column;
}

.tool-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5%;
}

.films {
}

button {
    color: #FFFFFF;
    width: 6%;
    border: transparent;
    background-color: transparent;
    margin-left: 0.2%;
}
