
.content {
    min-height: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.tool-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1%;
    flex-wrap: wrap;
}

.films {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

