.card {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1% 0 1% 0;
    align-items: center;
}

.card-border {
    position: relative;
    width: 30%;
}

.card:hover {
    cursor: pointer;
}

.card__img {
    height: 700px;
    width: 100%;
}

.film-title {
    width: 80%;
    color: #FFFFFF;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.film-title__h2-name {
    width: 60%;
}

.film-title__p-year {
    padding: 2%;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.film-title__p-genre {
    color: #FFFFFF;
    width: 100%;
}

.genre {
    width: 80%;

}

.edit-button {
    background-image: url("../../../public/images/circle-button.png");
    background-color: #424242;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 22px;
    width: 7%;
    height: 5%;
}

.edit-button:hover {
    border: 2px solid #232323;
}

.films-dropdown {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 50%;
    height: 15%;
}

.dropdown__button {
    position: absolute;
    right: 0;
    border-radius: 30px;
    background-color: #232323;
    width: 13%;
    height: 25%;
    cursor: pointer;
}

.dropdown__button img {
    width: 70%;
    height: 68%;
    filter: invert(100%);
}


.dropdown__button:hover {
    background-color: #424242;
}
