.filter {
    margin-left: 1%;
    width: 80%;
}

.filter__button-group {
    list-style: none;
    margin-left: 1%;
    padding: 0;
    display: flex;
    text-align: left;
    background: transparent;
}

.filter__button-group li {
    padding: 0 1% 1% 1%;
    width: auto;
    display: inline-block;
}

.filter__button-group li:last-child:after {
    content: none
}

.filter__button-group button {
    color: #FFFFFF;
    width: 6%;
    border: transparent;
    background-color: transparent;
    margin-left: 0.2%;
}

.filter__button-group button.active,
button:hover {
    color: #F65261;
}
button.active:hover{
    color: #FFFFFF;
}