
.sort-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 5px;
    white-space: nowrap;
}
button {
    color: #FFFFFF;
    border: transparent;
    background-color: transparent;
}

.sort-dropdown__button {
    font-size: calc((1vw + 1vh) * 0.6);
    position: relative;
}

.sort-dropdown__span {
    color: #FFFFFF;
    font-size: calc((1vw + 1vh) * 0.6);
    margin-right: 10px;
}

.sort-dropdown-content {
    width: 100%;
    display: none;
    background: #424242;
}

.sort-dropdown:hover .sort-dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.sort-dropdown-content a {
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}

.sort-dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #F65261;
}
