
.dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 5px;
    white-space: nowrap;
}
button {
    color: #FFFFFF;
    border: transparent;
    background-color: transparent;
}


.dropdown__button {
    font-size: calc((1vw + 1vh) * 0.6);
    position: relative;
}

.dropdown__span {
    color: #FFFFFF;
    font-size: calc((1vw + 1vh) * 0.6);
    margin-right: 10px;
}

.dropdown-content {
    width: 100%;
    display: none;
    background: #424242;
}

.dropdown:hover .dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #F65261;
}

/**{*/
/*    box-sizing: border-box;*/
/*}*/



/*.dropdown {*/
/*    width: 20%;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*}*/

/*!*.dropdown__span{*!*/
/*!*    *!*/
/*!*}*!*/
/*.dropdown__select {*/
/*    display: flex;*/
/*    color: #FFFFFF;*/
/*    background: transparent;*/
/*    border: none*/
/*}*/

/*.dropdown__select  option {*/
/*    background: #555555;*/
/*}*/

/*.dropdown__button {*/
/*    width: 80%;*/
/*    background: transparent;*/
/*    border-color: transparent;*/
/*    color: #FFFFFF;*/
/*}*/

/*.dropdown__span {*/
/*    text-align: center;*/
/*    color: #FFFFFF;*/
/*    width: 40%;*/
/*}*/

/*.dropdown-content {*/
/*    width: 100%;*/
/*    display: none;*/
/*    background: #424242;*/
/*}*/

/*.dropdown:hover .dropdown-content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.dropdown-content a {*/
/*    color: #000000;*/
/*    padding: 5px;*/
/*    text-decoration: none;*/
/*}*/

/*.dropdown-content a:hover {*/
/*    color: #FFFFFF;*/
/*    background-color: #00A4BD;*/
/*}*/