.dropdown {
    display: flex;
    /*align-content: center;*/
    /*justify-content: center;*/
    width: 15%;
}

.dropdown__button {
    width: 80%;
    background: transparent;
    border-color: transparent;
    color: #FFFFFF;
}

.dropdown__span {
    color: #FFFFFF;
    padding-top: 6%;
    width: 40%;
}

.dropdown-content {
    width: 100%;
    display: none;
    background: #424242;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}