.header {
    /* display: flex; */
    /* flex-direction: ; */
    background-color: transparent;
    width: 95%;
    height: 14%;
    margin: 6px 20px 2px 20px;
}

button.header__button {
    font-size: large;
    background-color: #555555;
    float: right;
    height: 80%;
    width: 15%;
    color: #F65261;
    border: 1px solid #444343;
    border-radius: 3px;
    opacity: 0.8;
}