.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 98%;
    height: 3vw;
    padding: 0 1% 0 1%;
}

.header__button-add {
    font-size: large;
    background-color: #555555;
    float: right;
    height: 80%;
    width: 13%;
    color: #F65261;
    border: 1px solid #444343;
    border-radius: 3px;
    opacity: 0.8;
}
.header__button-add:hover {
    cursor: pointer;
    background-color: #424242;
}
