
.modal {
    position: fixed;
    top: 5%;
    right: 35%;
    width: 30%;
    height: 90%;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    z-index: 102;
    opacity: 1;
}

.delete-modal{
    position: fixed;
    top: 5%;
    right: 35%;
    width: 30%;
    height: 40%;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    z-index: 102;
    opacity: 1;
}

.title {
    padding-left: 5%;
    width: 85%;
    height: 15%;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}


.title__cansel-button {
    height: 4%;
    margin-left: 85%;
}

.title__cansel-button img {
    width: 100%;
    height: 100%;
}

.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 80%;
}

.component__title {
    color: #F65261;
}

.component__input {
    width: 100%;
    height: 30px;
    background-color: #555555;
    outline: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #424242;
    z-index: 101;
    opacity: 0.8;
}