.background {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #555555;
    z-index: 1;
    opacity: 0.6;
}


.modal {
    position: fixed;
    top: 5%;
    right: 35%;
    width: 30%;
    height: 90%;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    opacity: 1;
    z-index: 2;
}

.modal .title {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
}

.modal .title__cansel-button {
    width: 98%;
    text-align: end;
    padding: 3% 2% 0 0;
}

.modal .title h1 {
    margin: 10% 0 0 8%;
    color: #FFFFFF;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
}

.body .component {
    width: 83%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 2%;
}

.component .component__title {
    margin: 0;
    padding: 0 0 2% 0;
    color: #F65261;
}

.component__p-id {
    margin-left: 2%;
    color: #FFFFFF;
}

.component__input #date {
    background-image: url("../../../public/images/calendar-7-16.ico");
}

.component__input {
    width: 100%;
    height: 35%;
    border: black;
    border-radius: 2px;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 17px;
    background-color: #555555;
    outline: none;
}

.component__input:active {
    border: none;
}

.component__select {
    width: 100%;
    height: 35%;
    background-color: #555555;
    cursor: pointer;
    border: #555555;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 17px;
}

.component__select:hover {
    color: #F65261;
}

.component__select option:hover {
    color: #FFFFFF;
    background-color: #F65261;
}

.modal .button-group {
    width: 95%;
    height: 15%;
    display: flex;
    padding-right: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.button-group__button {
    margin: 3%;
    border: 1px solid #F65261;
    width: 30%;
    height: 50%;
    max-height: 50px;
    border-radius: 5px;
}

.modal .submit {
    margin-right: 0;
    background-color: #F65261;
}

.modal .submit:hover {
    color: #232323;
}


.modal-small {
    position: fixed;
    top: 25%;
    right: 35%;
    width: 30%;
    height: 20%;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    z-index: 2;
}

.modal-small .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 40%;
}

.modal-small .title__cansel-button {
    width: 98%;
    text-align: end;
    padding: 3% 2% 0 0;
}

.modal-small .title h1 {
    margin: 0;
    color: #FFFFFF;
}

.modal-small p {
    color: #FFFFFF;
}

.modal-small .body {
    width: 100%;
    height: 30%;
}

.modal-small .button-group {
    width: 97%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3%;
}

.modal-small .button-group__button {
    width: 25%;
    height: 70%;
    background-color: #F65261;
    color: #FFFFFF;

}

.modal-small .button-group__button:hover {
    color: #232323;
    cursor: pointer;
}


