button {
    width: 10%;
    height: 4%;
    background-color: transparent;
    color: rgb(247, 108, 108);
    border: 1px solid rgb(241, 91, 91);
    padding: 10px 25px 10px 25px;
    border-radius: 3px;
}

.text {
    color: white;
}

.main {
    height: 100%;
    min-height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}