body {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(46, 45, 45);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#portal{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}