body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(46, 45, 45);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  width: 100%;
  height: 100%;
}