.filter__button-group {
    list-style: none;
    margin-left: 1%;
    padding: 0;
    display: flex;
    text-align: left;
    background: transparent;
}

.filter__button-group li {
    padding: 0% 1% 1% 1%;
    width: auto;
    display: inline-block;
}

.filter__button-group li:after {
    color: #F65261;
    display: inline-block;
    vertical-align: top;
}

.filter__button-group li:last-child:after {
    content: none
}

.filter__button-group button,
.filter__button-group button:visited {
    color: #FFFFFF;
}

.filter__button-group button.active,
button:hover {
    color: #F65261
}

.filter__button-group button:before,
.filter__button-group button:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
}

.filter__button-group button:hover:before, .filter__button-group .active:before {left: 0;}
.filter__button-group button:hover:after, .filter__button-group .active:after {right: 0;}

@media (max-width: 550px) {
    .filter__button-group {padding-top: 0;}
    .filter__button-group li {display: block;}
    .filter__button-group li:after {content: none;}
    .filter__button-group button {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}